/* Для всех ссылок-иконок и логотипа */
.card:focus,
.card:active,
.video-wrapper:focus,
.video-wrapper:active,
.card-video:focus,
.card-video:active {
  outline: none !important;
  box-shadow: none !important;
  background: none !important;
}
/* Для мобильных браузеров (убирает синий фон при тапе) */
.card,
.video-wrapper,
.card-video {
  -webkit-tap-highlight-color: transparent;
}

.cards-list-wrapper {
  display: flex;
  margin: 0 auto;
  width: 70%;
  height: 100%;
}

.card-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-width: 300px;
  width: 23%;
  margin: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.card.active {
  border-radius: 15px;
  width: 35%;
}

.card-video {
  max-width: 500px;
}

@media (max-width: 670px) {
  .cards-list-wrapper {
    width: 100%;
  }
  .card {
    margin: 50px 20px;
  }
  .card.active {
    width: 100%;
  }
}
